*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
#container-fluid{
    width: 100%;
    height: auto;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    background: white;
    /* background: ; #CAF3F5 */
}
#header{
    background-color: #f8f9fa;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 20%;
    margin-top: 5px;
    padding-left: 6%;
    height: 82%;
}
.congcu{
    margin-right: 110px;
}
.logo img {
    width: 100%;
    height: 100px;
    position: relative;
}
ul li{
    text-decoration: none;
    display: inline-flex;
    padding: 20px;
}
.menu li a:hover,
.menu li a:active{
    text-decoration: none;
    border-bottom: 1px solid black;
}
a{
text-decoration: none;
  color: black;
}
.dropdown{
    display: none;
}
li a .dropbtn {
    display: inline-block;
     color: Iwhite;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  li a:hover, .drop:hover .dropbtn {
    background-color: Orgb(255, 8, 43);
}
  li .drop {
    display: inline-block;
}
  .drop-list {
    box-shadow: 0px 8px 16px 0px black;
    margin-top: 30px;
    display: none;
    position: absolute;
    background-color: F9F9f9;
    min-width: 160px;
    box-shadow: epx 8px 16px epx Orgba(8,8,0,e.2);
    z-index: 1;
}
  .drop-list a {
     color: Oblack;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  .drop-list a:hover {
    text-decoration: none;
      background-color: #f1f1f1;
    }
  .drop:hover .drop-list {
    display: block;
}

.content{
    display: flex;
}
.detail_product{
    width: 100%;
    height: 22px;
    margin-bottom: 20px;
    
    background-color: black;
    
}
.detail_product p{
    color: white;
    margin-left: 30px;
} 
.detail_product p a{
    color: white;
}
.img{
    margin-left: 30px;
    width: 50%;
}
.information-product{
    margin-top: 100px;
    margin-left: 50px;
}
.carousel-item img{
    width: 70%;
    margin-left: 103px;
}
.carousel-control-prev span{
    background-color: black;
    width: 25%;
    height: 7%;
}
.carousel-control-next span{
    background-color: black;
    width: 25%;
    height: 7%;
}
.des ul li{
   
    display: list-item;
    padding: 0px;
}

.card__img{
    overflow: hidden;
}
.card__action{
    margin-top: 30px;
    text-align: center;
    display: none;
}
button{
    padding: 3px;
    border-radius: 8px;
    color: white;
    /* background-color: #4daf54; */
    background-color: #d85d44;
}
button:hover {
    background: #f12711; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f12711, #f5af19); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f12711, #f5af19); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
 .card:hover .card__action {
    transform: translateY(-34px);
    transition: all ease-in-out 1s;
    display: inline;
}
.down{
    width: 38%;
    margin-left: 32%;
}

.card{
    /* background-color: #d85d44; */
    background-color: white;
    height: 333px;
}

.card img{
    width: 100%;
    height: 184px;
}
.card__title p{
    text-align: center;
    font-weight: bold;
    color: red;
}
.card__price p{
text-align: center;
color: red;
font-weight: bold;
}
.card-group .card{
    height: 480px;
    border: none;
    background-color: white;
}
h3{
    text-align: center;
    font-weight: bold;
}
.container-fluid img{
    margin-top: 30px;
    height: 500px;
    width: 100%;
}
.chen{
    text-align: center;
    position: absolute;
    margin-top: -341px;
    color: white;
    /* float: right; */
    margin-left: 637px;
}
.index-card{
    padding-left: 16px;
    width: 100%;
    height: 298px;
    display: flex;
    margin-top: 40px;
}
.main-footer{
    margin-top: 50px;
    font-family: inherit;
}
.footer-contenttoggle-footer{
    display: flex;
}
.lienket{
    padding-right: 10px;
}
.lienket i{
    font-size: 30px;
    margin-top: 90px;
    padding: 3px
}
a{
    text-decoration: none;
      color: black;
    }
    ul .item{
        display: list-item;
        
    }
    .item{
        margin-top: -18px;
        height: 20px;
    }
    .ab{
        margin-top: -21px;
        height: 20px;
    }