*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
#container-fluid{
    width: 100%;
    height: auto;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    background: white;
    /* background: ; #CAF3F5 */
}
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 15%;
    margin-top: 5px;
    padding-left: 6%;
    height: 82%;
 
}
.congcu{
    margin-right: 110px;
}
.logo img {
    width: 100%;
    height: 100px;
    position: relative;

}
/* img:hover{
transform: rotate(0deg) scale(1.06);
   opacity: 0.5; */
/* } */
.carousel-inner img {
    width: 100%;
  }
ul li{
    text-decoration: none;
    display: inline-flex;
    padding: 20px;
}
/*  */
.menu li a:hover,
.menu li a:active{
    text-decoration: none;
    border-bottom: 1px solid black;
}

li a .dropbtn {
    display: inline-block;
     color: Iwhite;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  li a:hover, .drop:hover .dropbtn {
    background-color: Orgb(255, 8, 43);
}
  li .drop {
    display: inline-block;}
  .drop-list {
    box-shadow: 0px 8px 16px 0px black;
    margin-top: 30px;
    display: none;
    position: absolute;
    background-color: F9F9f9;
    min-width: 160px;
    box-shadow: epx 8px 16px epx Orgba(8,8,0,e.2);
    z-index: 1;
}

  .drop-list a {
     color: Oblack;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  .drop-list a:hover {
    text-decoration: none;
      background-color: #f1f1f1;
    }
  .drop:hover .drop-list {
    display: block;
}

a{
text-decoration: none;
  color: black;
}
/* .index-card{
    margin-left: 195px;
    width: 75%;
    height: 298px;
   display: flex;
    margin-top: 40px;
    
} */
.card__img{
    overflow: hidden;
}
.card__action{
    margin-top: 30px;
    text-align: center;
    display: none;
}
button{
    padding: 3px;
    border-radius: 8px;
    color: white;
    /* background-color: #4daf54; */
    background-color: #d85d44;
}
button:hover {
    background: #f12711; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f12711, #f5af19); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f12711, #f5af19); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.index-card{
    padding-left: 16px;
    width: 100%;
    height: 298px;
    display: flex;
    margin-top: 40px;
}
 .card:hover .card__action {
    transform: translateY(-34px);
    transition: all ease-in-out 1s;
    display: inline;
      }
/* .hr{
    width: 177px;
    margin-left: 50px;
}
.col-12.col-sm-4.card-1{
    background-size: cover;
    background-image: ; 
     background-image: url(https://cf.shopee.vn/file/c74e066f433e49fd4bced6c4d09197a0);
}
.col-12.col-sm-4.card-2{
    background-size: cover;
     background-image: url(https://moonsilver.com.vn/uploads/2017/08/hinhcay2.jpg); 
}
.col-12.col-sm-4.card-3{
    background-size: cover;
     background-image: url(https://cf.shopee.vn/file/d072549c18854e8b50eafe3dfba18bb8);
}
.index-card h4, .index-card h2,.index-card hr{
    opacity: 0.5;
    text-align: center;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
.index-card .card-1:hover h4, .index-card .card-1:hover h2, .index-card .card-1:hover hr {
    opacity: 1;
    font-size: 25px;
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    color: green;
}
.index-card .card-2:hover h4, .index-card .card-2:hover h2, .index-card .card-3:hover hr {
    opacity: 1;
    font-size: 25px;
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    color: green;
}
.index-card .card-3:hover h4, .index-card .card-3:hover h2, .index-card .card-3:hover hr {
    opacity: 1;
    font-size: 25px;
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    color: green;
} */
.card__title p{
    text-align: center;
    font-weight: bold;
    color: red;
}
.card__price p{
text-align: center;
color: red;
font-weight: bold;
}
.card-group .card{
    height: 480px;
    border: none;
    background-color: white;
}
.card img{
    width: 100%;
    height: 184px;
    border-radius: 30%;
    width: 100%;
    height: 216px;
}
.sectionwrapper-home-newsletter{

    /* background-image:url(https://cdn.pnj.io/images/promo/115/banner-tsDaQuy14-01-1200x450-cta.jpg); */
    background-image: url(https://preciousle.com/uploaded/kienthuc/%E1%BA%A3nh%20%C4%91%C3%A1%20ruby/12%20banner-trang-suc-1.gif);
    margin-top: 40px;
    height: 274px;
}
.content-newsletter h2{
    font-weight: bold;
    font-size: 40px;
    color: white;
}
.form-group{
    margin-left: 208px;
}
.nhap{
    text-align: center;
    height: 52px;
    border: none;
    width: 62%;
}
.sent{
    width: 81px;
    height: 50px;
}
.infor{
    display: block;
    color: white;
    width: 525px;
    text-align: center;
    margin-left: 269px
}
#con-container{
    width: 100%;
    height: auto;
    /* padding-top: 6%; */
     padding-bottom: 5%;
}

h4{
text-align: center;
}
.hot{
margin-top: 20px;
width: 94%;
padding-left: 13%;
padding-right: 6%;
padding-top: 5%;
height: auto;
}
.hot img{
width: 100%;
height: 200px;
}
.container-fluid img{
    margin-top: 30px;
    height: 500px;
    width: 100%;
}

.chen{
    text-align: center;
    position: absolute;
    margin-top: -341px;
    color: white;
    /* float: right; */
    margin-left: 637px;
}

#footer{
    width: 100%;
    height: 150px;
   
}
.information{
    margin-left: 40%;
    width: 300px;
    height: auto;
    margin-top: -20px;
}
  .card{
    background-color: aliceblue;
    height: 333px;
    margin-right: 10px;
    border-top-left-radius: 25px;
    border-top-left-radius: 30%;
    border-top-right-radius: 30%;
}
  h3{
      text-align: center;
      font-weight: bold;
  }
  .main-footer{
      margin-top: 50px;
      font-family: inherit;
  }
  ul .item{
    display: list-item;
    
}
.item{
    margin-top: -18px;
    height: 20px;
}
.footer-contenttoggle-footer{
    display: flex;
}
.ab{
    margin-top: -21px;
    height: 20px;
}
h2{
    text-align: center;
}
.footer-content img{
    width: 64%;
    border-top-right-radius: 32%;
    border-top-left-radius: 32%;
}

.lienket{
    padding-right: 10px;
}
.lienket i{
    font-size: 30px;
    margin-top: 90px;
    padding: 3px
}

  /* .card__action{
      display: none;
  } */
  /* .auth-form__header{
    text-align: center;
/* 	display: flex;
align-items: center;
justify-content: space-between; */


/* .auth-form__heading{
font-size: 2.2rem;
font-weight: 400;
color: var(--text-color);

}
.auth-form__switch-btn{
font-size: 1.6rem;
font-weight: 400;
color: var(--primary-color);
cursor: pointer;
}
.auth-form__input{
border: none;
border-bottom: 1px solid gray;
}
.auth-form__policy-link{
color: black;
margin-left:50px;
}
.auth-form__socials{
text-align: center;
}
.inten_dki{
text-align: center;
   margin-top: 20px;
} */

