/* Header */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
#container-fluid{
    width: 100%;
    height: auto;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    background: white;
}
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 15%;
    margin-top: 5px;
    padding-left: 6%;
    height: 82%;
}
ul li a{
    color: black;
  }
.congcu{
    margin-right: 110px;
}
.box {
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
 
input {
  background: none;
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
  width: 0px;
  transition: 0.8s ease;
  color: black;
  font-size: 18px;
  font-weight: 100;
}

 
input::placeholder {
  color: antiquewhite;
}
.box:hover input {
  width: 200px;
  margin: 0 20px;
  border-bottom: 2px solid red;
}
 
input:focus {
  width: 80px;
  margin: 0 20px;
  border-bottom: 2px solid red;
}
.logo img {
    width: 100%;
    height: 100px;
    position: relative;
}
ul li{
    text-decoration: none;
    display: inline-flex;
    padding: 20px;
}
.menu li a:hover,
.menu li a:active{
    text-decoration: none;
    border-bottom: 1px solid black;
}
a{
text-decoration: none;
  color: black;
}
.dropdown{
    display: none;
}
li a .dropbtn {
    display: inline-block;
     color: Iwhite;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  li a:hover, .drop:hover .dropbtn {
    background-color: Orgb(255, 8, 43);
}
  li .drop {
    display: inline-block;
}
  .drop-list {
    box-shadow: 0px 8px 16px 0px black;
    margin-top: 30px;
    display: none;
    position: absolute;
    background-color: F9F9f9;
    min-width: 160px;
    box-shadow: epx 8px 16px epx Orgba(8,8,0,e.2);
    z-index: 1;
}
.hinh img{
  width: 100%;
}
  .drop-list a {
     color: Oblack;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  .drop-list a:hover {
    text-decoration: none;
      background-color: #f1f1f1;
    }
  .drop:hover .drop-list {
    display: block;
}
/* conntent*/
.con{
  text-align: center;
  }
  .con p{
    width: 200px;
    margin-left: 393px;
  }
  .con .gia{
    float: right;
    margin-right: 473px;
    margin-top: -39px;
  }
  .card{
    /* background-color: aliceblue; */
    height: 333px;
    margin-right: 10px;
    border-top-left-radius: 25px;
    border-top-left-radius: 30%;
    border-top-right-radius: 30%;
}
  .card__img{
    overflow: hidden;
}
.card__action{
    margin-top: 30px;
    text-align: center;
    display: none;
}
button{
  border: none;
    padding: 3px;
    border-radius: 8px;
    color: white;
    /* background-color: #4daf54; */
    /* background-color: #d85d44; */
    background-color: #d3a24e;
}
button:hover {
  border: none;
    /* background: #f12711;  */
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f12711, #f5af19); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f12711, #f5af19); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.index-card{
    padding-left: 16px;
    width: 100%;
    height: 298px;
    display: flex;
    margin-top: 40px;
}
 .card:hover .card__action {
    transform: translateY(-34px);
    transition: all ease-in-out 1s;
    display: inline;
      }

      .card__title p{
        text-align: center;
    font-weight: 400;
        color: black;
    }
    .card__price p{
    text-align: center;
    /* color: red; */
    color: #c18a2c;
    font-weight: bold;
    }
    .card-group .card{
        height: 480px;
        border: none;
        background-color: white;
    }
    .card img{
        width: 100%;
        height: 184px;
        border-radius: 30%;
        width: 100%;
        height: 216px;
    }
    .card img:hover{
      transform: scale(1.2);
  }
    .hr hr{
      border: 1px solid black;
    }
  /* banner*/
  .index-card{
    padding-left: 16px;
    width: 100%;
    height: 298px;
    display: flex;
    margin-top: 40px;
  }
/* footer */
.main-footer{
    margin-top: 30px;
  }
  .footer-contenttoggle-footer{
    display: flex;
  }
  .ab{
    margin-top: -21px;
    height: 20px;
  }
  h2{
    text-align: center;
  }
  .lienket{
    padding-right: 10px;
  }
.lienket i{
    font-size: 30px;
    margin-top: 90px;
    padding: 3px
  }
ul .item{
    display: list-item;
    list-style: none;
  }
.item{
    margin-top: -18px;
    height: 20px;
  }
