*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
#container-fluid{
    width: 100%;
    height: auto;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    background: white;
}
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 15%;
    margin-top: 5px;
    padding-left: 6%;
    height: 82%;
}
.congcu{
    margin-right: 110px;
}
.logo img {
    width: 100%;
    height: 100px;
    position: relative;
}
ul li{
    text-decoration: none;
    display: inline-flex;
    padding: 20px;
}
.menu li a:hover,
.menu li a:active{
    text-decoration: none;
    border-bottom: 1px solid black;
}

li a .dropbtn {
    display: inline-block;
     color: Iwhite;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  li a:hover, .drop:hover .dropbtn {
    background-color: Orgb(255, 8, 43);
}
  li .drop {
    display: inline-block;}
  .drop-list {
    box-shadow: 0px 8px 16px 0px black;
    margin-top: 30px;
    display: none;
    position: absolute;
    background-color: F9F9f9;
    min-width: 160px;
    box-shadow: epx 8px 16px epx Orgba(8,8,0,e.2);
    z-index: 1;
}

  .drop-list a {
     color: Oblack;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  .drop-list a:hover {
    text-decoration: none;
      background-color: #f1f1f1;
    }
  .drop:hover .drop-list {
    display: block;
}
form{
  margin-top: 40px;
}
a{
text-decoration: none;
  color: black;
}
.content a{
  color: orangered;
}
.content a:hover{
  color: red;
  text-decoration: none;
}
.container p{
  color: black;
}
.content{
  background-color: white;
  width: 60%;
  height: 342px;
  margin-left: 255px;
  color: black;
  border: 1px solid white;
  border-radius: 5px;
  text-align: center;
  margin-top: 10px;
}
.content p{
  color: orangered;
  margin-left: 20px;
  width: 212px;
}
.formbox .row50{
  display: flex;
  gap: 80px;
  justify-content: center;
}
.inputbox{
  display: flex;
  flex-direction: column;
  width: 250px;

}
span{
  text-align: left;
}
.button{
  margin-top: 30px;
  width: 132px;
  height: 37px;
color: orangered;
border-radius: 5px;
border: 1px solid orangered;
background-color: white;
}
.button:hover{
  background-color: #e59356
}
.content h2{
  color: black;
}
.index-card{
  padding-left: 16px;
  width: 100%;
  height: 298px;
  display: flex;
  margin-top: 40px;
}
.main-footer{
  margin-top: 30px;
}
.footer-contenttoggle-footer{
  display: flex;
}
.ab{
  margin-top: -21px;
  height: 20px;
}
h2{
  text-align: center;
}
.lienket{
  padding-right: 10px;
}
.lienket i{
  font-size: 30px;
  margin-top: 90px;
  padding: 3px
}
ul .item{
  display: list-item;
  
}
.item{
  margin-top: -18px;
  height: 20px;
}